<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549754704175-8h1auhrapdq4lbfmmaf84mnhqv50834o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549754704175-8h1auhrapdq4lbfmmaf84mnhqv50834o</string>
	<key>API_KEY</key>
	<string>AIzaSyCqBGxL0ASWeKQiKlBXK_9OwBnk9oNiYlw</string>
	<key>GCM_SENDER_ID</key>
	<string>549754704175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.roomease</string>
	<key>PROJECT_ID</key>
	<string>roomease-74d55</string>
	<key>STORAGE_BUCKET</key>
	<string>roomease-74d55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549754704175:ios:b2f1f8ed569c710f73d1da</string>
</dict>
</plist>